

  .App h2 {
    font-family: Arial, sans-serif;
    font-size: 1.4rem;
  }

  .App-section-entrar{
    /* background-color: aliceblue; */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .Input-nome {
    height: 20px;
    border: 1px solid transparent;
    border-left: 1px solid rgb(62, 121, 231);
    border-bottom: 1px solid rgb(62, 121, 231);
    border-radius: 4px;
    background-color: aliceblue;
    outline: none;
    font-size: 1.4rem;
    transition: 0.5s;
    color: black;
  }

  .Input-nome:focus {
    background-color: rgb(62, 121, 231);
    height: 25px;
    color: white;
  }

  .Subtexto {
    margin: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
  }

  .btn-entrar {
    height: 65px;
    width: 125px;
    margin: 140px;
    border-radius: 12px;
    background-color: rgb(32, 100, 226);
    border: 2px solid rgb(26, 89, 207);
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: aliceblue;
  }

  .btn-entrar:hover {
    background-color: rgb(38, 112, 250);
    border: 2px solid rgb(32, 111, 230);
    transform: translateY(-3px);
    box-shadow: 0px 15px 20px rgba(46, 89, 229, 0.4);
  }

  .btn-entrar:active {
    background-color: rgb(23, 88, 209);
    border: rgb(19, 77, 185);
    transform: translateY(0);
  }

  .btn-entrar:focus {
    border: none;
  }

  main{
    display: block;
  }
  .App-section-sobre {
    background-color: rgb(32, 68, 230);
    padding-top: 90px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

  }


  .App-section-projeto {
    margin: 0px;
    background-color: aliceblue;

  }

  /* @media (max-width: 600px) {
    .App-nav {
      display: block;

    }
    .App-nav ul{
      display: block;
    }
    .App-nav ul li{
      margin: 25px auto;
    }
  } */